@import "util/util";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;0,700;1,600;1,700&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$foundation-palette: (
  primary: #1c6896,
  secondary: #c9def5,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.75;

$header-font-family: 'Source Sans Pro', sans-serif;
$body-font-family: 'Rubik', sans-serif;

$topbar-background: transparent;
$button-background-hover: $secondary-color;
$box-shadow-setting: 2px 2px 3px 0 rgba(0,0,0,.54);
