@import "util/util";
@import url('//fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;0,800;1,500;1,800&family=Allerta&display=swap');

$foundation-palette: (
  primary: #1c6896,
  secondary: #c9def5,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$global-font-size: 15px;
$body-font-family: 'Karla', sans-serif;
