@charset 'utf-8';

@import 'globals-default';
@import 'settings';

// Legacies overrides

$box-shadow-setting: 2px 2px 3px 0 rgba(0,0,0,.54);
$button-font-family: $header-font-family;
$button-color: $secondary-color;
$header-font-weight: 700;
$paragraph-lineheight: 1.75; 
$topbar-background: #000;

@import 'foundation-core';
@import 'omeka';



// Global
// ======

body {
    background: #fdf8ed;
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    background: url(../img/sewanee-bg.jpg) center/cover no-repeat;
    z-index: -3;
}

.off-canvas-content {
    overflow: hidden;
    min-height: 100vh;
}

// Inputs
// ======

[type="submit"],
[type="button"],
button,
.button {
    box-shadow: $box-shadow-setting;
    font-family: $header-font-family;
    font-weight: 700;
}

// Header
// ======

header {
    border-bottom: 5px solid $primary-color;
    box-shadow: $box-shadow-setting;
    position: relative;
    z-index: 1000;
}

header a {
    color: #fff !important;
    font-weight: 700;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}

// Navigation
// ==========

.sub-menu .vertical.menu {
    background-color: $secondary-color;
    box-shadow: $box-shadow-setting;
    padding: $global-padding;
}

// Footer
// ======

footer:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -25vw;
    right: -25vw;
    background: #000;
    bottom: -9999px;
    top: 0;
}

footer {
    position: relative;
    color: #fff;
}

// Content
// =======

#content a {
    font-weight: 700;
    text-decoration: underline;
}

#content a.button {
    text-decoration: none;
}

    // Home
    // ====

    .assets.intro-image {
        width: 60%;
        float: left;
        margin-bottom: 5 * $global-margin;
    }

    .intro-content {
        width: 40%;
        float: right;
        padding: 2 * $global-padding;
        font-size: 1.25 * $global-font-size;
    }

    .intro-content em:first-of-type {
        font-size: 1.75 * $global-font-size;
        display: block;
        line-height: 1;
        font-family: $header-font-family;
        font-style: normal;
        font-weight: 700;
        margin-bottom: .5 * $global-margin;
    }

    .intro-content + * {
        clear: both;
    }

    .home .item-showcase {
        display: flex;
        flex-wrap: wrap;
        margin: $global-margin 0 (5 * $global-margin);
        position: relative;
    }


   .home .item-showcase .resource {
        width: 50%;
        text-align: left;
    }

    .home .item-showcase .resource h3 {
        font-size: 1.5 * $global-font-size;
    }

    .home .item-showcase img {
        max-height: 20 * $global-padding;
    }

    .home .item-showcase h3,
    .home .item-showcase .caption {
        padding-right: $global-padding;
    }

    .home .site-list .site {
        clear: both;
        margin: (2 * $global-margin) 0;
        overflow: hidden;
    }

    .home .site-list .site-thumbnail {
        float: left;
        margin-right: $global-margin;
    }

    .home .site-list .site-link {
        font-size: 1.5 * $global-font-size;
    }

        // Temporary Home Styles
        // =====================

        /* More permanent styles to come when we can get proper containers around some of these blocks. */

        .home .item-showcase:before {
            content: "";
            position: absolute;
            top: -10em;
            left: -25vw;
            right: -25vw;
            bottom: -2rem;
            background-color: #d3ccac;
            z-index: -2;
        }

        .home .item-showcase:after {
            content: "";
            position: absolute;
            top: -10em;
            left: -25vw;
            right: -25vw;
            bottom: -2rem;
            background: url('../img/featured-bg.jpg') center/cover no-repeat;
            z-index: -1;
            opacity: .08;
        }

        .home .list-of-sites:before {
            content: "";
            position: absolute;
            left: -25vw;
            right: -25vw;
            top: -11em;
            bottom: -9em;
            background-color: $primary-color;
            z-index: -1;
        }

        .home .list-of-sites {
            position: relative;
            color: #fff;
        }

        .home .list-of-sites a.site-link {
            color: $secondary-color;
        }

        .home .item-showcase + h2,
        .home .item-showcase + h2 + p {
            color: #fff;
        }


    // Resource Metadata
    // =================

    .resource.show #resource-values {
        width: 100%;
    }

    .resource.show .property {
        margin-bottom: 2 * $global-margin;
    }

    .resource.show .value .language {
        background-color: $secondary-color;
    }

    .resource.show .media-list:first-child {
        width: 100%;
        margin-left: 0;
    }

    .resource.show #linked-resources .resource-link {
        margin-bottom: $global-margin;
        display: flex;
        align-content: center;
    }

    #linked-resources img,
    .resource-link img {
        max-width: 3.5rem;
        height: auto;
    }

    .resource-link .resource-name {
        max-width: calc(100% - #{4.5 * $global-padding});
    }

    // Blocks
    // ======

    .full-width .asset {
        position: relative;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: none;
        max-height: 20em;
        overflow-y: hidden;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: $global-margin;
    }

    .full-width .asset img {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: none;
    }

    .full-width:first-child > .asset {
        margin-top: -2 * $global-margin;
    }


// Modules

.faceted-browse-page #container {
    width: 100%;
}

.faceted-browse-page .resource-list .resource {
    clear: both;
    margin-bottom: 2 * $global-margin;
    overflow: hidden;
}

.faceted-browse-page .resource-list a img {
    float: right;
    margin-left: $global-margin;
    max-width: 10 * $global-padding;
}

.faceted-browse-page .resource-link .resource-name,
.faceted-browse-page .resource-link ~ * {
    width: calc(100% - #{10 * $global-padding});
}

.faceted-browse-page .browse-controls {
    margin: 0;
}

.faceted-browse-page .browse-controls .button,
.faceted-browse-page .browse-controls button {
    line-height: inherit;
}

.faceted-browse-page .browse-controls select {
    height: auto;
}

.faceted-browse-page .browse-controls input[type=text],
.faceted-browse-page .browse-controls select {
    box-shadow: $box-shadow-setting;
}

.faceted-browse-page .omeka-pagination {
    width: auto;
}