@charset 'utf-8';

@import 'globals-default';
@import 'settings';
@import 'globals-legacies';
@import 'foundation-core';
@import 'omeka';


a {
  color: $primary-color;
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
    font-weight: bold;
  }
}

.logos a:hover {
  background-color: inherit;
}

.menu .active > a {
  background-color: transparent;
  text-decoration: underline;
  color: $primary-color;
}

body {
  position: relative;
  height: 100vh;
  background: #f2f2f2;

  &:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
  }
}

.off-canvas-content {
  overflow: hidden;
}

#link-back {
  border-bottom: 3px solid #7f2629;
  box-shadow: $box-shadow-setting;
  position: relative;
  z-index: 1;
  background-color: #000;
}

header.main {
  padding: $global-padding;
  flex-wrap: wrap;
  width: 100%;
}

.desktop {
  @include hide-for(medium down);
}

.title-bar {
  display: flex;
}

.title-bar button {
  box-shadow: none;
}

.title-bar .menu-toggle {
  @include hide-for(large);
}

.submenu-toggle {
  background-color: transparent;
  box-shadow: none;
}

a.site-title {
  text-decoration: none;
  display: inline-block;
  margin-bottom: $global-margin;
}

.site-title h1 {
  font-size: 3 * $global-font-size;
  font-weight: bold;
  display: inline;
}

.site-title img {
  margin-right:1rem;
}

.contribute.button,
.contribute.button:hover {
  margin-bottom: 0;
  background-color: #7f2629 !important;
  color: #fff !important;
}

@include breakpoint(medium down) {
  a.contribute.button {
    width: 100%;
    background-color: #000 !important;
    color: #fff !important;
    border-bottom: 3px solid #7f2629;
    box-shadow: $box-shadow-setting;
 }
}

.top-bar-left .contribute.button {
  @include show-for(large);
}

.grid-container > .site-title {
  @include show-for(large);
}

#responsive-menu {
  @include hide-for(medium down);
}

#responsive-menu .contribute.button {
  @include hide-for(large);
}

.submenu-toggle:hover {
  background-color: transparent;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active > a:after {
  margin-right: 0;
}

.top-bar-left a.site-title {
  margin-bottom: 0;
}

.top-bar-left a.site-title h1 {
  font-size: 1.25 * $global-font-size;
}

#responsive-menu {
  width: 100%;
  margin: $global-margin auto (-1 * $global-margin);
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    z-index: 0;
  }

  & > .menu {
    margin-left: auto;
    position: relative;
    z-index: 1;

    a {
      padding: $global-padding;
      padding-right: 1.5 * $global-padding;
    }
  }
}

#content {
  background-color: #fff;
}

@include breakpoint(medium down) {
  body:not(.browse) #content,
  #content {
    margin: 2 * $global-margin;
    padding: 0 $global-padding;
  }

  .title-bar {
    display: inline-flex;
  }
} 

@include breakpoint(small) {
  #blocks {
    margin: 0;
    @include xy-cell(100%);
  }
}

.toc-block {
  background-color: transparent;
  font-family: $header-font-family;
}

#blocks form label {
  font-weight: bold;
}

// Browse
// ======

.resource.browse .browse-controls {
  width: 100%;
}

// Show
// ==== 

.resource.show .institution {
  margin-bottom: 0;
}

.resource.show .property {
  margin-bottom: $global-margin;
}

.resource.show .property h4 {
  font-size: 1.125 * $global-font-size;
  margin-bottom: 0;
}

.resource.show .resource-link {
  display: flex;
}

.resource.show .media-render > a:only-child {
  line-height: 1;
  word-wrap: break-word;
}

.item.show .institution img {
  height: 3 * $global-padding;
  width: auto;
  margin-right: .5 * $global-margin;
}

footer {
  @include xy-grid-container();
}

.logos {
  @include xy-grid();
  margin-bottom: $global-margin;
}

.logos .logo {
  text-align: center;
  @include xy-cell-size(3/12);
  max-height: 6 * $global-padding;
}

@include breakpoint(medium down) {
  .logos {
    height: auto;
  }
  
  .logos .logo {
    @include xy-cell-size(100%);
  }
}

.logos .logo img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
}

.collecting-these-times-footer {
  @include xy-grid();
  margin: (2 * $global-margin) 0;
  align-items: flex-start;
}

.footer-links {
  @include xy-cell-size(7/12);
  margin-bottom: $global-margin;
}

.home .intro,
.preview-block h4,
.home .item-showcase h3 {
  font-size: 1.25 * $global-font-size;
}

.home #blocks h2 {
  font-size: 1.375 & $global-font-size;
}

.callout {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 20px,
    $button-background-hover 20px,
    $button-background-hover 21px
  );
  text-align: center;

  p {
    font-size: 2rem;
  }

  .button {
    font-variant: small-caps;
    @include xy-cell-offset(2);
    @include xy-cell(8);
  }
}

.home .callout a.button {
  font-size: 1.25 * $global-font-size;
}

.home .item-showcase {
  margin: (2 * $global-margin) (-1 * $global-margin);
  align-items: center;
}

// Inputs
// ======

[type="submit"],
[type="button"],
button,
.button,
a.button {
    box-shadow: $box-shadow-setting;
    font-family: $header-font-family;
    font-weight: 700;
    text-decoration: none;
}

// Content
// =======

    // Blocks
    // ======

    .full-width {
        margin-bottom: 2 * $global-margin;
    }

    .full-width .asset {
        position: relative;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: none;
        max-height: 20em;
        overflow-y: hidden;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: $global-margin;
    }

    .assets.full-width .asset {
        max-width: none;
    }

    .full-width .asset img {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: none !important;
    }

    .full-width:first-child > .asset {
        margin-top: -2 * $global-margin;
    }

    .site-list .site {
        clear: both;
        margin: (2 * $global-margin) 0;
        overflow: hidden;
    }

    .site-list .site-thumbnail {
        float: left;
        margin-right: $global-margin;
    }

    .site-list .site-link {
        font-size: 1.5 * $global-font-size;
    }

    // Resource Metadata
    // =================

    .resource.show #resource-values {
        width: 100%;
    }

    .resource.show .property {
        margin-bottom: 2 * $global-margin;
    }

    .resource.show .value .language {
        background-color: $secondary-color;
    }

    .resource.show .media-list:first-child {
        width: 100%;
        margin-left: 0;
    }

    .resource.show #linked-resources .resource-link {
        margin-bottom: $global-margin;
        display: flex;
        align-content: center;
    }

    #linked-resources img,
    .resource-link img {
        max-width: 3.5rem;
        height: auto;
        margin-right: .5 * $global-margin;
    }

    .resource-link .resource-name {
        max-width: calc(100% - #{4.5 * $global-padding});
    }

    // Blocks
    // ======

    .full-width .asset {
        position: relative;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: none;
        max-height: 20em;
        overflow-y: hidden;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: $global-margin;
    }

    .full-width .asset img {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: none;
    }

    .full-width:first-child > .asset {
        margin-top: -2 * $global-margin;
    }

    .site-list .site {
        clear: both;
        margin: (2 * $global-margin) 0;
        overflow: hidden;
    }

    .site-list .site-thumbnail {
        float: left;
        margin-right: $global-margin;
    }

    .site-list .site-link {
        font-size: 1.5 * $global-font-size;
    }

// Modules

.faceted-browse-page #container {
    width: 100%;
}

.faceted-browse-page .resource-list .resource {
    clear: both;
    margin-bottom: 2 * $global-margin;
    overflow: hidden;
}

.faceted-browse-page .resource-list a img {
    float: right;
    margin-left: $global-margin;
    max-width: 10 * $global-padding;
}

.faceted-browse-page .resource-link .resource-name,
.faceted-browse-page .resource-link ~ * {
    width: calc(100% - #{10 * $global-padding});
}

.faceted-browse-page .browse-controls {
    margin: 0;
}

.faceted-browse-page .browse-controls .button,
.faceted-browse-page .browse-controls button {
    line-height: inherit;
}

.faceted-browse-page .browse-controls select {
    height: auto;
}

.faceted-browse-page .browse-controls input[type=text],
.faceted-browse-page .browse-controls select {
    box-shadow: $box-shadow-setting;
}

.faceted-browse-page .omeka-pagination {
    width: auto;
}
